@import '../../estilos.scss';

.card-title {
    color : $mainGreen;
}

.arrowdown {
    color : $mainGreen;
    cursor: pointer;
}

.img-container {
    position: relative;
    border-top-left-radius: 1rem; 
    border-top-right-radius: 1rem;
    &:hover .timescircle {
    opacity : 1;
    cursor :pointer;
    }
}

.timescircle {
    position: absolute;
    top : 10px;
    right : 10px;
    color : $mainGreen;
    opacity: 0;
}

    
img {
border-top-right-radius: 1rem;
border-top-left-radius: 1rem; 
}




