* {
    // font-family: 'Alice', serif;
    font-family: 'Great Vibes', cursive;
    box-sizing: border-box;
}

$mainBlack: #222;
$mainPurple: #941E94;
$mainGreen: #82b340;
$mainWhite: #fff;
$mainGrey: #ececec;


body {
    background: $mainGrey;
    color: $mainGreen;
}


